html{
    font-family: 'Courier New', Courier, monospace;
}
body{
    height: 100%;
    width:100%;
    background-image: url(../img/starfield.jpg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
}
div{
    border: 1px solid white;
    background-color: rgba(0,0,0,0.5);
    color: white;
    width: fit-content;
}
p{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.compass{
    position:relative;
    left:16.5%;
    text-align: center;
}
.health{
    position:relative;
    width: 15em;
    top: 22em;
    left: 50%;
    text-align: right;
}
.health p{
    position: relative;
    left: 23.25%;
    width: 75%;
    margin: 2px;
    background-color: white;
    color:black;
}
.ammo{
    font-size: 32px;
    width: 5.5em;
    position: relative;
    top: 11em;
    left: 50%;
    padding-top: 0.1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.25em;
    text-align: center;
    border: none;
}
.quests{
    margin:0;
    padding: 1em;
    font-size: 10px;
    width: fit-content;
}
.quests ul{
    padding-left:1em;
}
h2{
    padding-top:0em;
}