body{
    background-color: olive;
}


#flex-parent{
    background-color: orangered;
    display: flex;
}
#flex-parent p{
    padding:5vw;
}

#flex-child1{
    order: 3;
}
#flex-child2{
    order: 4;
}
#flex-child3{
    order: 2;
}

#flex-child4{
    order: 1;
}


#grid-parent{
text-align: center;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
}

#grid-parent h1{
    background-color: grey;
    padding:3vw 5vh;
    margin:5vw;
    
}
#no0{
    order: 10;
    grid-column-start: 2;
}
#no1{
    order: 7;
}
#no2{
    order: 8;
}
#no3{
    order: 9;
}
#no4{
    order: 4;
}
#no5{
    order: 5;
}
#no6{
    order: 6;
}
#no7{
    order: 1;
}
#no8{
    order: 2;
}
#no9{
    order: 3;
}